<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewsDAO">
	<!-- 리뷰 전체조회 -->
	<select id="getReviewsList" resultType="ReviewsVO">
		SELECT R.*, S.NAME, M.ID, U.MENUNAME FROM REVIEWS R, MYME M, MEMBERS S, MENU U 
		WHERE (M.MENUID = U.MENUID) AND (S.ID = M.ID) AND (R.MYNUM = M.MYNUM)
	</select>
	
	<!-- 내 리뷰 보기 -->
	<select id="getMyReviewList" resultType="ReviewsVO" parameterType="String">
		SELECT R.*, S.NAME, M.ID, U.MENUNAME FROM REVIEWS R, MYME M, MEMBERS S, MENU U 
		WHERE (M.MENUID = U.MENUID) AND (S.ID = M.ID) AND (R.MYNUM = M.MYNUM) AND (M.ID = #{id})
	</select>
	
	<!-- 리뷰 삭제 -->
	<delete id="delRev" parameterType="int">
		DELETE FROM REVIEWS WHERE REVIEWNUM = #{reviewNum}
	</delete>
	
</mapper>









